<h1>Yoooo</h1>

<nav>
    <a routerLink="/">Home  </a>
    <a routerLink="/listGames">ListaGames  </a>
    <a routerLink="/list">Lista </a>
    <a routerLink="/ifRender">If-render </a>
    <a routerLink="/animaisApi">list-animals-api </a>
    <a routerLink="/usersAPI">UsersAPI  </a>
    <a routerLink="/usersAPI2">UsersAPI2  </a>
    <a routerLink="/usersAPI3">USersAPI3  </a>
    <a routerLink="/usersAPI4">UsersAPI4   </a>
    <a routerLink="/if2">If2   </a>
    <a routerLink="/getId">GetId</a>
</nav>
<br>

<nav>
    <a routerLink="/allBooks/:id" routerLinkActive="router-link-active" >allBooks</a>
</nav>

<router-outlet></router-outlet>